<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Textify - Image Text Extractor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            max-width: 600px;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Upload an Image to Extract Text</h1>
        <form method="post enctype=multipart/form-data">
            <div class="form-group">
                <input type=file name=file class="form-control-file">
            </div>
            <button type=submit class="btn btn-primary btn-block">Upload and Extract</button>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-danger mt3">
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
    </div>
</body>
</html>
